:root {
     
    --uc-border-radius: 0;
    --show-tab-close-button: none;
    --container-tabs-indicator-margin: 0px;
    --uc-urlbar-width: clamp(200px, 40vw, 575px);
    --show-tab-close-button-hover: -moz-inline-box;
    --uc-active-tab-width:   clamp(100px, 20vw, 300px);
    --uc-inactive-tab-width: clamp(50px, 15vw, 200px);

}

     #back-button,
     #star-button{ display: none !important; }
     #forward-button { display: none !important; }
     #pageActionButton { display: none !important; }
     #urlbar-go-button { display: none !important; }
     #reader-mode-button{ display: none !important; }
     #urlbar-zoom-button { display: none !important; }
     #page-action-buttons { display: none !important; }
     #identity-permission-box { display: none !important; }
     #PanelUI-button { margin-top: 0px; margin-bottom: 40px; }
     #tracking-protection-icon-container { display: none !important; }
     #PanelUI-menu-button .toolbarbutton-icon { width: 0px !important; }
     #PanelUI-menu-button .toolbarbutton-badge-stack { padding: 0px !important; }

     #PanelUI-menu-button {

        padding: 0px !important;
        max-height: 1px;

        list-style-image: none !important;

     }

     .tab-secondary-label { display: none !important; }

:root {
    
    --uc-hover-colour:                          var(--secondary-colour, rgba(0, 0, 0, 0.3));
    --tab-border-radius:                        var(--uc-border-radius)   !important;
    --button-hover-bgcolor:                     var(--uc-hover-colour)    !important;
    --button-active-bgcolor:                    var(--uc-hover-colour)    !important;
    --arrowpanel-border-radius:                 var(--uc-border-radius)   !important;
    --toolbarbutton-border-radius:              var(--uc-border-radius)   !important;
    --tab-block-margin: 1px !important;
    
}

window,
#sidebar-box,
#main-window,
#TabsToolbar,
#toolbar-menubar,
#PersonalToolbar,
#navigator-toolbox,

#nav-bar {

    -moz-appearance: none !important;
    
    border: none !important;
    box-shadow: none !important;

}

.titlebar-buttonbox-container { display: none !important; }
.titlebar-spacer { display: none !important; }

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }

.tabbrowser-tab
    >.tab-stack
    > .tab-background { box-shadow: none !important;  }

.tabbrowser-tab
    > .tab-stack

.tabbrowser-tab[selected]
    > .tab-stack
    > .tab-background { background: var(--uc-hover-colour) !important; }

#tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background:-moz-lwtheme { background: var(--uc-hover-colour) !important; }

.tabbrowser-tab:not([pinned]) .tab-close-button { display: var(--show-tab-close-button) !important; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display: var(--show-tab-close-button-hover) !important }

.tabbrowser-tab[selected][fadein]:not([pinned]) { max-width: var(--uc-active-tab-width) !important; }
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) { max-width: var(--uc-inactive-tab-width) !important; }

.tabbrowser-tab[usercontextid]
    > .tab-stack
    > .tab-background
    > .tab-context-line {
    
        margin: -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;

        border-radius: var(--tab-border-radius) !important;

}

.tab-icon-image:not([pinned]) { opacity: 1 !important; }

.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {

  top: 5px !important;
  z-index: 1 !important;

  padding: 1.5px !important;
  inset-inline-end: -8px !important;
  width: 16px !important; height: 16px !important;

  border-radius: 10px !important;

}

.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {

  stroke: transparent !important;
  background: transparent !important;
  opacity: 1 !important; fill-opacity: 0.8 !important;

  color: currentColor !important;
    
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
        
  stroke: var(--uc-hover-colour) !important;
  background-color: var(--uc-hover-colour) !important;

}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) { margin-inline-end: 9.5px !important; }

.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {

  top: 0 !important;

  padding: 0 !important;
  margin-inline-end: 5.5px !important;
  inset-inline-end: 0 !important;

}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    
    color: currentColor !important;
    fill-opacity: 0.95 !important;
    
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    
    color: currentColor !important;
    fill-opacity: 0.95 !important;
    
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,

#nav-bar {

    border:     none !important;
    box-shadow: none !important;
    background: transparent !important;

}

#navigator-toolbox { border-bottom: none !important; }

#urlbar,
#urlbar * {

    outline: none !important;
    box-shadow: none !important;

}

@media (min-width: 1000px) { 
    
    #TabsToolbar { margin-left: var(--uc-urlbar-width) !important; }
    #nav-bar { margin: calc((var(--urlbar-min-height) * -1) - 7px) calc(100vw - var(--uc-urlbar-width)) 0 0 !important; }

}
