* {
    min-height: 0;
    border-radius: 0;
    font-family: JetBrains Mono, "Font Awesome 6 Free Solid";
}

window#waybar {
    background-color: rgba(0,0,0,0);
}

#tags {
    padding: 1px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#tags button {
    margin: 1px;
    padding: 1px;
    color: #d3d0c8;
    border: 2px solid #2d2d2d;
}

#tags button:hover {
    box-shadow: inherit;
    background: #2d2d2d;
    text-shadow: inherit;
}

#tags button.focused {
    color: #2d2d2d;
    border: 2px solid #2d2d2d;
    background-color: #d3d0c8;
}

#tags button.occupied {
    border: 2px solid #d3d0c8;
}

#tags button.urgent {
    border: 2px solid #f2777a;
}

#tags button.occupied.urgent {
    border: 2px solid #f2777a;
}

#tags button.focused.occupied {
    color: #2d2d2d;
    background-color: #d3d0c8;
    border: 2px solid #d3d0c8;
}

#window {
    font-size: 14px;
    color: #d3d0c8;
    margin-top: 8px;
    margin-bottom: 2px;
    background-color: #2d2d2d;
}

#custom-volume {
    color: #d3d0c8;
    padding: 0px 5px;
    margin-right: 4px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#clock {
    color: #d3d0c8;
    padding: 0px 5px;
    margin-bottom: 2px;
    border: 2px solid #d3d0c8;
    background-color: #2d2d2d;
}

#tray {
    margin-right: 10px;
    margin-bottom: 2px;
}
