[general]
updateFreq = 100.0
movePointerOnStart = false
movePointerOnRaise = false
movePointerOnSelect = false
clientDisplayModes = thumbnail

[normal]
opacity = 255
tintOpacity = 0

[highlight]
tint = #2d2d2d
tintOpacity = 1

[tooltip]
show = false

[bindings]
miwMouse2 = close-icccm
